html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

header {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  border-bottom: 1px solid gray;
}

article {
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
  width: clamp(20rem, 35rem, 90vw);
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

select,
button {
  padding: 0.25rem;
  min-width: 6rem;
}

textarea {
  width: 100%;
  min-height: 4em;
}

li {
  margin: 0.5rem 0;
}

.table {
  padding: 0;
}

.table li {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 0.5rem;
}
